{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .d{
            margin-top: 120px;
            font-size: 20px;
        }
        body{
            background-image: url('{% static "cp.jpg" %}');
            background-repeat: no-repeat;
            background-size: 1470px 800px;
            background-position: center;
            background-attachment: fixed;
            backdrop-filter: blur(4px);
        }
    </style>
</head>
<body>
    <form action="" method="post" align="center">
        {%csrf_token%}
        <div class="d">
        {{form.as_p}}
        <input type="Submit">
        </div>
    </form>
</body>
</html>